<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>信州制県レベル</title>
    <style>
        .nagano_city_map {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, 1fr);
            gap: 10px;
            width: 500px;
            height: 300px;
        }

        .grid-item {
            padding: 10px;
        }

        .skyblue-bg {
            background-color: skyblue;
            background-blend-mode: multiply;
        }

        .yellowgreen-bg {
            background-color: yellowgreen;
            background-blend-mode: multiply;
        }

        .orange-bg {
            background-color: orange;
            background-blend-mode: multiply;
        }

        .violet-bg {
            background-color: violet;
            background-blend-mode: multiply;
        }

        .teal-bg {
            background-color: teal;
            background-blend-mode: multiply;
        }

        .orangered-bg {
            background-color: orangered;
            background-blend-mode: multiply;
        }

        .nagano_prefectur_photo {
            display: flex;
            justify-content: center;
            margin: 20px 0;
        }

        .nagano_prefectur_photo img {
            max-width: 50%;
            height: auto;
        }

        .image-container {
            display: grid;
            /**
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
**/
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            background-size: 200% 600%;
            /* 画像を12分割するために背景サイズを2倍に設定 */

            width: 400px;
            height: 400px;
            position: relative;
        }

        .image-container div {
            background-image: url('images/naganoPrefecturePhoto.png');
            background-size: 300% 200%;
        }

        .top-left {
            background-position: 0 0;
        }

        .top-center {
            background-position: 50% 0;
        }

        .top-right {
            background-position: 100% 0;
        }

        .middle-left {
            background-position: 0 100%;
        }

        .middle-center {
            background-position: 50% 100%;
        }

        .middle-right {
            background-position: 100% 100%;
        }

        .bottom-left {
            background-position: 0 200%;
        }

        .bottom-center {
            background-position: 50% 200%;
        }

        .bottom-right {
            background-position: 100% 200%;
        }

        .far-left {
            background-position: 0 300%;
        }

        .far-center {
            background-position: 100% 300%;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="nagano_map">
            <h1>信州制県レベル</h1>
            <p>あなたは広大な信濃の国を、どれくらい制覇していますか？</p>
            <p>あなたの信州制県ステータスは、、<br><strong>{{ shinshuCompleteLevelStatus }}</strong>です！</p>
            <p>{{ shinshuCompleteLevelMsg }}</p>
            <p v-if="shinshuCompletePoint >= 0">あなたの信州制県レベルは、、<strong>{{shinshuCompletePoint}} / 66ポイント</strong>です！</p>
            <div class="resetPullDown">
                <button v-on:click="resetPullDown">Lvリセット</button>
                <br>
            </div>

            <div class="image-container">
                <div class="top-left" area-label="1"></div>
                <div class="top-center" area-label="2"></div>
                <div class="top-right" area-label="3"></div>
                <div class="middle-left" area-label="4"></div>
                <div class="middle-center" area-label="5"></div>
                <div class="middle-right" area-label="6"></div>
                <div class="bottom-left" area-label="7"></div>
                <div class="bottom-center" area-label="8"></div>
                <div class="bottom-right" area-label="9"></div>
                <div class="far-left" area-label="10"></div>
                <div class="far-center" area-label="11"></div>
                <div class="far-right" area-label="12"></div>
              
            </div>
            <br>
            <h2>入力値</h2>
            <div class="nagano_city_map">
                <li class="grid-item one-one" :class="kitaAzumiClass" area-label="北安曇" id="kitaAzumi">
                    北安曇(白馬・大町)<select v-model="kitaAzumiValue">
                        <option value=0 selected>Lv.0: Never / 未訪問</option>
                        <option value=1>Lv.1: Passed / 通過した</option>
                        <option value=2>Lv.2: Alighted / 降りた</option>
                        <option value=3>Lv.3: Visited / 歩いた</option>
                        <option value=4>Lv.4: Stayed / 泊まった</option>
                        <option value=5>Lv.5: ALot / 何度も訪れた</option>
                        <option value=6>Lv.6: Lived / 住んだ</option>
                    </select>
                </li>
                <li class="grid-item one-two" :class="hokushinClass" area-label="北信" id="hokushin">
                    北信(飯山・野沢温泉)<select v-model="hokushinValue">
                        <option value=0 selected>Lv.0: Never / 未訪問</option>
                        <option value=1>Lv.1: Passed / 通過した</option>
                        <option value=2>Lv.2: Alighted / 降りた</option>
                        <option value=3>Lv.3: Visited / 歩いた</option>
                        <option value=4>Lv.4: Stayed / 泊まった</option>
                        <option value=5>Lv.5: ALot / 何度も訪れた</option>
                        <option value=6>Lv.6: Lived / 住んだ</option>
                    </select>
                </li>
                <li class="grid-item two-one" :class="naganoClass" area-label="長野" id="nagano">
                    長野(千曲・戸隠)<select v-model="naganoValue">
                        <option value=0 selected>Lv.0: Never / 未訪問</option>
                        <option value=1>Lv.1: Passed / 通過した</option>
                        <option value=2>Lv.2: Alighted / 降りた</option>
                        <option value=3>Lv.3: Visited / 歩いた</option>
                        <option value=4>Lv.4: Stayed / 泊まった</option>
                        <option value=5>Lv.5: ALot / 何度も訪れた</option>
                        <option value=6>Lv.6: Lived / 住んだ</option>
                    </select>
                </li>
                <li class="grid-item two-two" :class="uedaClass" area-label="上田" id="ueda">
                    上田(別所・菅平)<select v-model="uedaValue">
                        <option value=0 selected>Lv.0: Never / 未訪問</option>
                        <option value=1>Lv.1: Passed / 通過した</option>
                        <option value=2>Lv.2: Alighted / 降りた</option>
                        <option value=3>Lv.3: Visited / 歩いた</option>
                        <option value=4>Lv.4: Stayed / 泊まった</option>
                        <option value=5>Lv.5: ALot / 何度も訪れた</option>
                        <option value=6>Lv.6: Lived / 住んだ</option>
                    </select>
                </li>
                <li class="grid-item three-one" :class="matsumotoClass" area-label="松本">
                    松本(安曇野・常念岳)<select v-model="matsumotoValue">
                        <option value=0 selected>Lv.0: Never / 未訪問</option>
                        <option value=1>Lv.1: Passed / 通過した</option>
                        <option value=2>Lv.2: Alighted / 降りた</option>
                        <option value=3>Lv.3: Visited / 歩いた</option>
                        <option value=4>Lv.4: Stayed / 泊まった</option>
                        <option value=5>Lv.5: ALot / 何度も訪れた</option>
                        <option value=6>Lv.6: Lived / 住んだ</option>
                    </select>
                </li>
                <li class="grid-item three-two" :class="sakuClass" area-label="佐久">
                    佐久(小諸・軽井沢)<select v-model="sakuValue">
                        <option value=0 selected>Lv.0: Never / 未訪問</option>
                        <option value=1>Lv.1: Passed / 通過した</option>
                        <option value=2>Lv.2: Alighted / 降りた</option>
                        <option value=3>Lv.3: Visited / 歩いた</option>
                        <option value=4>Lv.4: Stayed / 泊まった</option>
                        <option value=5>Lv.5: ALot / 何度も訪れた</option>
                        <option value=6>Lv.6: Lived / 住んだ</option>
                    </select>
                </li>
                <li class="grid-item four-one" :class="kamikouchiClass" area-label="上高地">
                    上高地(乗鞍・穂高槍)<select v-model="kamikouchiValue">
                        <option value=0 selected>Lv.0: Never / 未訪問</option>
                        <option value=1>Lv.1: Passed / 通過した</option>
                        <option value=2>Lv.2: Alighted / 降りた</option>
                        <option value=3>Lv.3: Visited / 歩いた</option>
                        <option value=4>Lv.4: Stayed / 泊まった</option>
                        <option value=5>Lv.5: ALot / 何度も訪れた</option>
                        <option value=6>Lv.6: Lived / 住んだ</option>
                    </select>
                </li>
                <li class="grid-item four-two" :class="suwaClass" area-label="諏訪">
                    諏訪(霧ヶ峰・八ヶ岳)<select v-model="suwaValue">
                        <option value=0 selected>Lv.0: Never / 未訪問</option>
                        <option value=1>Lv.1: Passed / 通過した</option>
                        <option value=2>Lv.2: Alighted / 降りた</option>
                        <option value=3>Lv.3: Visited / 歩いた</option>
                        <option value=4>Lv.4: Stayed / 泊まった</option>
                        <option value=5>Lv.5: ALot / 何度も訪れた</option>
                        <option value=6>Lv.6: Lived / 住んだ</option>
                    </select>
                </li>
                <li class="grid-item five-one" :class="kisoClass" area-label="木曽">
                    木曽(奈良井・妻籠)<select v-model="kisoValue">
                        <option value=0 selected>Lv.0: Never / 未訪問</option>
                        <option value=1>Lv.1: Passed / 通過した</option>
                        <option value=2>Lv.2: Alighted / 降りた</option>
                        <option value=3>Lv.3: Visited / 歩いた</option>
                        <option value=4>Lv.4: Stayed / 泊まった</option>
                        <option value=5>Lv.5: ALot / 何度も訪れた</option>
                        <option value=6>Lv.6: Lived / 住んだ</option>
                    </select>
                </li>
                <li class="grid-item five-two" :class="kamiinaClass" area-label="上伊那">
                    上伊那(伊那・木曽駒)<select v-model="kamiinaValue">
                        <option value=0 selected>Lv.0: Never / 未訪問</option>
                        <option value=1>Lv.1: Passed / 通過した</option>
                        <option value=2>Lv.2: Alighted / 降りた</option>
                        <option value=3>Lv.3: Visited / 歩いた</option>
                        <option value=4>Lv.4: Stayed / 泊まった</option>
                        <option value=5>Lv.5: ALot / 何度も訪れた</option>
                        <option value=6>Lv.6: Lived / 住んだ</option>
                    </select>
                </li>
                <li class="grid-item six-one" :class="shimoinaClass" area-label="下伊那">
                    下伊那(飯田・天竜峡)<select v-model="shimoinaValue">
                        <option value=0 selected>Lv.0: Never / 未訪問</option>
                        <option value=1>Lv.1: Passed / 通過した</option>
                        <option value=2>Lv.2: Alighted / 降りた</option>
                        <option value=3>Lv.3: Visited / 歩いた</option>
                        <option value=4>Lv.4: Stayed / 泊まった</option>
                        <option value=5>Lv.5: ALot / 何度も訪れた</option>
                        <option value=6>Lv.6: Lived / 住んだ</option>
                    </select>
                </li>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    shinshuCompletePoint: 0,
                    shinshuCompleteLevelStatus: "",
                    shinshuCompleteLevelMsg: "",
                    kitaAzumiValue: '0',
                    hokushinValue: '0',
                    naganoValue: '0',
                    uedaValue: '0',
                    matsumotoValue: '0',
                    sakuValue: '0',
                    kamikouchiValue: '0',
                    kisoValue: '0',
                    suwaValue: '0',
                    kamiinaValue: '0',
                    shimoinaValue: '0'
                };
            },
            computed: {
                kitaAzumiClass() {
                    switch (this.kitaAzumiValue) {
                        case '1':
                            document.querySelector('.top-left').classList.add('skyblue-bg');
                            return 'skyblue-bg';
                        case '2':
                            document.querySelector('.top-left').classList.add('yellowgreen-bg');
                            return 'yellowgreen-bg';
                        case '3':
                            document.querySelector('.top-left').classList.add('orange-bg');
                            return 'orange-bg';
                        case '4':
                            document.querySelector('.top-left').classList.add('violet-bg');
                            return 'violet-bg';
                        case '5':
                            document.querySelector('.top-left').classList.add('teal-bg');
                            return 'teal-bg';
                        case '6':
                            document.querySelector('.top-left').classList.add('orangered-bg');
                            return 'orangered-bg';
                        default:
                            return '';
                    }
                },
                hokushinClass() {
                    switch (this.hokushinValue) {
                        case '1':
                            document.querySelector('.top-center').classList.add('skyblue-bg');
                            return 'skyblue-bg';
                        case '2':
                            document.querySelector('.top-center').classList.add('yellowgreen-bg');
                            return 'yellowgreen-bg';
                        case '3':
                            document.querySelector('.top-center').classList.add('orange-bg');
                            return 'orange-bg';
                        case '4':
                            document.querySelector('.top-center').classList.add('violet-bg');
                            return 'violet-bg';
                        case '5':
                            document.querySelector('.top-center').classList.add('teal-bg');
                            return 'teal-bg';
                        case '6':
                            document.querySelector('.top-center').classList.add('orangered-bg');
                            return 'orangered-bg';
                        default:
                            return '';
                    }
                },
                naganoClass() {
                    switch (this.naganoValue) {
                        case '1':
                            document.querySelector('.top-right').classList.add('skyblue-bg');
                            return 'skyblue-bg';
                        case '2':
                            document.querySelector('.top-right').classList.add('yellowgreen-bg');
                            return 'yellowgreen-bg';
                        case '3':
                            document.querySelector('.top-right').classList.add('orange-bg');
                            return 'orange-bg';
                        case '4':
                            document.querySelector('.top-right').classList.add('violet-bg');
                            return 'violet-bg';
                        case '5':
                            document.querySelector('.top-right').classList.add('teal-bg');
                            return 'teal-bg';
                        case '6':
                            document.querySelector('.top-right').classList.add('orangered-bg');
                            return 'orangered-bg';
                        default:
                            return '';
                    }
                },
                uedaClass() {
                    switch (this.uedaValue) {
                        case '1':
                            document.querySelector('.middle-left').classList.add('skyblue-bg');
                            return 'skyblue-bg';
                        case '2':
                            document.querySelector('.middle-left').classList.add('yellowgreen-bg');
                            return 'yellowgreen-bg';
                        case '3':
                            document.querySelector('.middle-left').classList.add('orange-bg');
                            return 'orange-bg';
                        case '4':
                            document.querySelector('.middle-left').classList.add('violet-bg');
                            return 'violet-bg';
                        case '5':
                            document.querySelector('.middle-left').classList.add('teal-bg');
                            return 'teal-bg';
                        case '6':
                            document.querySelector('.middle-left').classList.add('orangered-bg');
                            return 'orangered-bg';
                        default:
                            return '';
                    }
                },
                matsumotoClass() {
                    switch (this.matsumotoValue) {
                        case '1':
                            document.querySelector('.middle-center').classList.add('skyblue-bg');
                            return 'skyblue-bg';
                        case '2':
                            document.querySelector('.middle-center').classList.add('yellowgreen-bg');
                            return 'yellowgreen-bg';
                        case '3':
                            document.querySelector('.middle-center').classList.add('orange-bg');
                            return 'orange-bg';
                        case '4':
                            document.querySelector('.middle-center').classList.add('violet-bg');
                            return 'violet-bg';
                        case '5':
                            document.querySelector('.middle-center').classList.add('teal-bg');
                            return 'teal-bg';
                        case '6':
                            document.querySelector('.middle-center').classList.add('orangered-bg');
                            return 'orangered-bg';
                        default:
                            return '';
                    }
                },
                sakuClass() {
                    switch (this.sakuValue) {
                        case '1':
                            document.querySelector('.far-left').classList.add('skyblue-bg');
                            return 'skyblue-bg';
                        case '2':
                            document.querySelector('.far-left').classList.add('yellowgreen-bg');
                            return 'yellowgreen-bg';
                        case '3':
                            document.querySelector('.far-left').classList.add('orange-bg');
                            return 'orange-bg';
                        case '4':
                            document.querySelector('.far-left').classList.add('violet-bg');
                            return 'violet-bg';
                        case '5':
                            document.querySelector('.far-left').classList.add('teal-bg');
                            return 'teal-bg';
                        case '6':
                            document.querySelector('.far-left').classList.add('orangered-bg');
                            return 'orangered-bg';
                        default:
                            return '';
                    }
                },
                kamikouchiClass() {
                    switch (this.kamikouchiValue) {
                        case '1':
                            document.querySelector('.bottom-left').classList.add('skyblue-bg');
                            return 'skyblue-bg';
                        case '2':
                            document.querySelector('.bottom-left').classList.add('yellowgreen-bg');
                            return 'yellowgreen-bg';
                        case '3':
                            document.querySelector('.bottom-left').classList.add('orange-bg');
                            return 'orange-bg';
                        case '4':
                            document.querySelector('.bottom-left').classList.add('violet-bg');
                            return 'violet-bg';
                        case '5':
                            document.querySelector('.bottom-left').classList.add('teal-bg');
                            return 'teal-bg';
                        case '6':
                            document.querySelector('.bottom-left').classList.add('orangered-bg');
                            return 'orangered-bg';
                        default:
                            return '';
                    }
                },
                suwaClass() {
                    switch (this.suwaValue) {
                        case '1':
                            document.querySelector('.bottom-center').classList.add('skyblue-bg');
                            return 'skyblue-bg';
                        case '2':
                            document.querySelector('.bottom-center').classList.add('yellowgreen-bg');
                            return 'yellowgreen-bg';
                        case '3':
                            document.querySelector('.bottom-center').classList.add('orange-bg');
                            return 'orange-bg';
                        case '4':
                            document.querySelector('.bottom-center').classList.add('violet-bg');
                            return 'violet-bg';
                        case '5':
                            document.querySelector('.bottom-center').classList.add('teal-bg');
                            return 'teal-bg';
                        case '6':
                            document.querySelector('.bottom-center').classList.add('orangered-bg');
                            return 'orangered-bg';
                        default:
                            return '';
                    }
                },
                kisoClass() {
                    switch (this.kisoValue) {
                        case '1':
                            document.querySelector('.bottom-right').classList.add('skyblue-bg');
                            return 'skyblue-bg';
                        case '2':
                            document.querySelector('.bottom-right').classList.add('yellowgreen-bg');
                            return 'yellowgreen-bg';
                        case '3':
                            document.querySelector('.bottom-right').classList.add('orange-bg');
                            return 'orange-bg';
                        case '4':
                            document.querySelector('.bottom-right').classList.add('violet-bg');
                            return 'violet-bg';
                        case '5':
                            document.querySelector('.bottom-right').classList.add('teal-bg');
                            return 'teal-bg';
                        case '6':
                            document.querySelector('.bottom-right').classList.add('orangered-bg');
                            return 'orangered-bg';
                        default:
                            return '';
                    }
                },
                kamiinaClass() {
                    switch (this.kamiinaValue) {
                        case '1':
                            document.querySelector('.bottom-right').classList.add('skyblue-bg');
                            return 'skyblue-bg';
                        case '2':
                            document.querySelector('.bottom-right').classList.add('yellowgreen-bg');
                            return 'yellowgreen-bg';
                        case '3':
                            document.querySelector('.bottom-right').classList.add('orange-bg');
                            return 'orange-bg';
                        case '4':
                            document.querySelector('.bottom-right').classList.add('violet-bg');
                            return 'violet-bg';
                        case '5':
                            document.querySelector('.bottom-right').classList.add('teal-bg');
                            return 'teal-bg';
                        case '6':
                            document.querySelector('.bottom-right').classList.add('orangered-bg');
                            return 'orangered-bg';
                        default:
                            return '';
                    }
                },
                shimoinaClass() {
                    switch (this.shimoinaValue) {
                        case '1':
                            document.querySelector('.far-center').classList.add('skyblue-bg');
                            return 'skyblue-bg';
                        case '2':
                            document.querySelector('.far-center').classList.add('yellowgreen-bg');
                            return 'yellowgreen-bg';
                        case '3':
                            document.querySelector('.far-center').classList.add('orange-bg');
                            return 'orange-bg';
                        case '4':
                            document.querySelector('.far-center').classList.add('violet-bg');
                            return 'violet-bg';
                        case '5':
                            document.querySelector('.far-center').classList.add('teal-bg');
                            return 'teal-bg';
                        case '6':
                            document.querySelector('.far-center').classList.add('orangered-bg');
                            return 'orangered-bg';
                        default:
                            return '';
                    }
                },
            },
            methods: {
                getKitaAzumiClass() {
                    return this.kitaAzumiClass;
                },
                announceLevel() {
                    if (this.shinshuCompletePoint > 55) {
                        this.shinshuCompleteLevelStatus = "信州人"
                        this.shinshuCompleteLevelMsg = "あなたは生粋の信州人ですね！"
                    } else if (this.kitaAzumiValue < 2
                        && this.hokushinValue < 2
                        && this.naganoValue > 2
                        && this.uedaValue < 2
                        && this.matsumotoValue > 2
                        && this.sakuValue < 2
                        && this.kamikouchiValue < 2
                        && this.kisoValue < 2
                        && this.suwaValue < 2
                        && this.kamiinaValue < 2
                        && this.shimoinaValue < 2) {
                        this.shinshuCompleteLevelStatus = "都会人"
                        this.shinshuCompleteLevelMsg = "ぜひ松本や長野以外にも信州を楽しんでみてください！"
                    } else if (this.shinshuCompletePoint > 52
                        && this.kitaAzumiValue > 3
                        && this.hokushinValue > 3
                        && this.naganoValue > 3
                        && this.uedaValue > 3
                        && this.matsumotoValue > 3
                        && this.sakuValue > 3
                        && this.kamikouchiValue > 3
                        && this.kisoValue > 3
                        && this.suwaValue > 3
                        && this.kamiinaValue > 3
                        && this.shimoinaValue > 3) {
                        this.shinshuCompleteLevelStatus = "信州マスター"
                        this.shinshuCompleteLevelMsg = "これからも信州にたくさん訪れてくださいね！"
                    } else if (this.shinshuCompletePoint > 40) {
                        this.shinshuCompleteLevelStatus = "信州ラバー"
                        this.shinshuCompleteLevelMsg = "信州マスター目指してこれからもたくさん訪れてください！"
                    } else if (this.shinshuCompletePoint > 28) {
                        this.shinshuCompleteLevelStatus = "信州マニア"
                        this.shinshuCompleteLevelMsg = "信州ラバー目指していろいろなところを訪れてくださいね！"
                    } else if (this.shinshuCompletePoint > 12) {
                        this.shinshuCompleteLevelStatus = "信州好き"
                        this.shinshuCompleteLevelMsg = "もっといろいろなところを訪れて信州をさらに楽しんでくださいね！"
                    } else if (this.shinshuCompletePoint > 6) {
                        this.shinshuCompleteLevelStatus = "信州ファン"
                        this.shinshuCompleteLevelMsg = "いろいろなところを訪れて信州を楽しんでくださいね！"
                    } else if (this.shinshuCompletePoint == this.sakuValue
                        && this.sakuValue > 1) {
                        this.shinshuCompleteLevelStatus = "軽井沢ファン"
                        this.shinshuCompleteLevelMsg = "ぜひ軽井沢より先の信州にも行ってみてください！"
                    } else if (this.shinshuCompletePoint > 3
                        && this.kitaAzumiValue < 6
                        && this.hokushinValue < 6
                        && this.naganoValue < 6
                        && this.uedaValue < 6
                        && this.matsumotoValue < 6
                        && this.sakuValue < 6
                        && this.kamikouchiValue < 6
                        && this.kisoValue < 6
                        && this.suwaValue < 6
                        && this.kamiinaValue < 6
                        && this.shimoinaValue < 6) {
                        this.shinshuCompleteLevelStatus = "信州ツーリスト"
                        this.shinshuCompleteLevelMsg = "ぜひまた信州にきてください！"
                    } else if (this.shinshuCompletePoint > 5
                        || this.kitaAzumiValue == 6
                        || this.hokushinValue == 6
                        || this.naganoValue == 6
                        || this.uedaValue == 6
                        || this.matsumotoValue == 6
                        || this.sakuValue == 6
                        || this.kamikouchiValue == 6
                        || this.kisoValue == 6
                        || this.suwaValue == 6
                        || this.kamiinaValue == 6
                        || this.shimoinaValue == 6) {
                        this.shinshuCompleteLevelStatus = "信州レジデント"
                        this.shinshuCompleteLevelMsg = "信州に住んでくれてありがとう！"
                    } else if (this.shinshuCompletePoint > 3) {
                        this.shinshuCompleteLevelStatus = "信州ツーリスト"
                        this.shinshuCompleteLevelMsg = "ぜひまた信州にきてください！"
                    } else {
                        this.shinshuCompleteLevelStatus = "信州ビギナー"
                        this.shinshuCompleteLevelMsg = "ぜひ信州にたくさん来てください！"
                    }
                },
                calculateshinshuCompletePoint() {
                    this.shinshuCompletePoint = parseInt(this.kitaAzumiValue)
                        + parseInt(this.hokushinValue)
                        + parseInt(this.naganoValue)
                        + parseInt(this.uedaValue)
                        + parseInt(this.matsumotoValue)
                        + parseInt(this.sakuValue)
                        + parseInt(this.kamikouchiValue)
                        + parseInt(this.suwaValue)
                        + parseInt(this.kisoValue)
                        + parseInt(this.kamiinaValue)
                        + parseInt(this.shimoinaValue)
                },
                resetPullDown() {
                    this.kitaAzumiValue = 0
                    this.hokushinValue = 0
                    this.naganoValue = 0
                    this.uedaValue = 0
                    this.matsumotoValue = 0
                    this.sakuValue = 0
                    this.kamikouchiValue = 0
                    this.suwaValue = 0
                    this.kisoValue = 0
                    this.kamiinaValue = 0
                    this.shimoinaValue = 0
                    this.calculateshinshuCompletePoint()
                }
            },
            watch: {
                kitaAzumiValue: function () {
                    this.calculateshinshuCompletePoint()
                    this.announceLevel()
                },
                hokushinValue: function () {
                    this.calculateshinshuCompletePoint()
                    this.announceLevel()
                },
                naganoValue: function () {
                    this.calculateshinshuCompletePoint()
                    this.announceLevel()
                },
                uedaValue: function () {
                    this.calculateshinshuCompletePoint()
                    this.announceLevel()
                },
                matsumotoValue: function () {
                    this.calculateshinshuCompletePoint()
                    this.announceLevel()
                },
                sakuValue: function () {
                    this.calculateshinshuCompletePoint()
                    this.announceLevel()
                },
                kamikouchiValue: function () {
                    this.calculateshinshuCompletePoint()
                    this.announceLevel()
                },
                suwaValue: function () {
                    this.calculateshinshuCompletePoint()
                    this.announceLevel()
                },
                kisoValue: function () {
                    this.calculateshinshuCompletePoint()
                    this.announceLevel()
                },
                kamiinaValue: function () {
                    this.calculateshinshuCompletePoint()
                    this.announceLevel()
                },
                shimoinaValue: function () {
                    this.calculateshinshuCompletePoint()
                    this.announceLevel()
                }
            },
            created() {
                this.calculateshinshuCompletePoint()
                this.announceLevel()
            }

        })
    </script>
</body>

</html>