<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>信州制県レベル</title>
    <style>
        .nagano_city_map {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, 1fr);
            gap: 10px;
            width: 500px;
            height: 300px;
        }

        /*      
        .resetPullDown {
            display: grid;
        }
        */

        .grid-item {
            padding: 10px;
        }

        .skyblue-bg {
            background-color: skyblue;
        }

        .yellowgreen-bg {
            background-color: yellowgreen;
        }

        .orange-bg {
            background-color: orange;
        }

        .violet-bg {
            background-color: violet;
        }

        .teal-bg {
            background-color: teal;
        }

        .orangered-bg {
            background-color: orangered;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="nagano_map">
            <h1>信州制県レベル</h1>
            <p>あなたは広大な信濃の国を、どれくらい制覇していますか？</p>
            <p v-if="shinshuSeikenPoint >= 0">あなたの信州制県レベルは、、{{shinshuSeikenPoint}} ポイントです！</p>
            <div class="resetPullDown">
                <button v-on:click="resetPullDown">Lvリセット</button>
                <br>
            </div>
            <div class="nagano_city_map">
                <li class="grid-item one-one" :class="{
                    'skyblue-bg': kitaAzumiValue === '1',
                    'yellowgreen-bg': kitaAzumiValue === '2',
                    'orange-bg': kitaAzumiValue === '3',
                    'violet-bg': kitaAzumiValue === '4',
                    'teal-bg': kitaAzumiValue === '5',
                    'orangered-bg': kitaAzumiValue === '6'}" area-label="北安曇" id="kitaAzumi">
                    北安曇(白馬・大町)<select v-model="kitaAzumiValue">
                        <option value=0 selected>Lv.0: Never / 未訪問</option>
                        <option value=1>Lv.1: Passed / 通過した</option>
                        <option value=2>Lv.2: Alighted / 降りた</option>
                        <option value=3>Lv.3: Visited / 歩いた</option>
                        <option value=4>Lv.4: Stayed / 泊まった</option>
                        <option value=5>Lv.5: ALot / 何度も訪れた</option>
                        <option value=6>Lv.6: Lived / 住んだ</option>
                    </select>
                </li>
                <li class="grid-item one-two" :class="{
                'skyblue-bg': hokushinValue === '1',
                'yellowgreen-bg': hokushinValue === '2',
                'orange-bg': hokushinValue === '3',
                'violet-bg': hokushinValue === '4',
                'teal-bg': hokushinValue === '5',
                'orangered-bg': hokushinValue === '6'}" area-label="北信" id="hokushin">
                    北信(飯山・野沢温泉)<select v-model="hokushinValue">
                        <option value=0 selected>Lv.0: Never / 未訪問</option>
                        <option value=1>Lv.1: Passed / 通過した</option>
                        <option value=2>Lv.2: Alighted / 降りた</option>
                        <option value=3>Lv.3: Visited / 歩いた</option>
                        <option value=4>Lv.4: Stayed / 泊まった</option>
                        <option value=5>Lv.5: ALot / 何度も訪れた</option>
                        <option value=6>Lv.6: Lived / 住んだ</option>
                    </select>
                </li>
                <li class="grid-item two-one" :class="{
                    'skyblue-bg': naganoValue === '1',
                    'yellowgreen-bg': naganoValue === '2',
                    'orange-bg': naganoValue === '3',
                    'violet-bg': naganoValue === '4',
                    'teal-bg': naganoValue === '5',
                    'orangered-bg': naganoValue === '6'}" area-label="長野" id="nagano">
                    長野(千曲・戸隠)<select v-model="naganoValue">
                        <option value=0 selected>Lv.0: Never / 未訪問</option>
                        <option value=1>Lv.1: Passed / 通過した</option>
                        <option value=2>Lv.2: Alighted / 降りた</option>
                        <option value=3>Lv.3: Visited / 歩いた</option>
                        <option value=4>Lv.4: Stayed / 泊まった</option>
                        <option value=5>Lv.5: ALot / 何度も訪れた</option>
                        <option value=6>Lv.6: Lived / 住んだ</option>
                    </select>
                </li>
                <li class="grid-item two-two" :class="{
                    'skyblue-bg': uedaValue === '1',
                    'yellowgreen-bg': uedaValue === '2',
                    'orange-bg': uedaValue === '3',
                    'violet-bg': uedaValue === '4',
                    'teal-bg': uedaValue === '5',
                    'orangered-bg': uedaValue === '6'}" area-label="上田" id="ueda">
                    上田(別所・菅平)<select v-model="uedaValue">
                        <option value=0 selected>Lv.0: Never / 未訪問</option>
                        <option value=1>Lv.1: Passed / 通過した</option>
                        <option value=2>Lv.2: Alighted / 降りた</option>
                        <option value=3>Lv.3: Visited / 歩いた</option>
                        <option value=4>Lv.4: Stayed / 泊まった</option>
                        <option value=5>Lv.5: ALot / 何度も訪れた</option>
                        <option value=6>Lv.6: Lived / 住んだ</option>
                    </select>
                </li>
                <li class="grid-item three-one" :class="{
                        'skyblue-bg': matsumotoValue === '1',
                        'yellowgreen-bg': matsumotoValue === '2',
                        'orange-bg': matsumotoValue === '3',
                        'violet-bg': matsumotoValue === '4',
                        'teal-bg': matsumotoValue === '5',
                        'orangered-bg': matsumotoValue === '6'}" area-label="松本">
                    松本(安曇野・常念岳)<select v-model="matsumotoValue">
                        <option value=0 selected>Lv.0: Never / 未訪問</option>
                        <option value=1>Lv.1: Passed / 通過した</option>
                        <option value=2>Lv.2: Alighted / 降りた</option>
                        <option value=3>Lv.3: Visited / 歩いた</option>
                        <option value=4>Lv.4: Stayed / 泊まった</option>
                        <option value=5>Lv.5: ALot / 何度も訪れた</option>
                        <option value=6>Lv.6: Lived / 住んだ</option>
                    </select>
                </li>
                <li class="grid-item three-two" :class="{
                    'skyblue-bg': sakuValue === '1',
                    'yellowgreen-bg': sakuValue === '2',
                    'orange-bg': sakuValue === '3',
                    'violet-bg': sakuValue === '4',
                    'teal-bg': sakuValue === '5',
                    'orangered-bg': sakuValue === '6'}" area-label="佐久">
                    佐久(小諸・軽井沢)<select v-model="sakuValue">
                        <option value=0 selected>Lv.0: Never / 未訪問</option>
                        <option value=1>Lv.1: Passed / 通過した</option>
                        <option value=2>Lv.2: Alighted / 降りた</option>
                        <option value=3>Lv.3: Visited / 歩いた</option>
                        <option value=4>Lv.4: Stayed / 泊まった</option>
                        <option value=5>Lv.5: ALot / 何度も訪れた</option>
                        <option value=6>Lv.6: Lived / 住んだ</option>
                    </select>
                </li>
                <li class="grid-item four-one" :class="{
                        'skyblue-bg': kamikouchiValue === '1',
                        'yellowgreen-bg': kamikouchiValue === '2',
                        'orange-bg': kamikouchiValue === '3',
                        'violet-bg': kamikouchiValue === '4',
                        'teal-bg': kamikouchiValue === '5',
                        'orangered-bg': kamikouchiValue === '6'}" area-label="上高地">
                    上高地(乗鞍・穂高槍)<select v-model="kamikouchiValue">
                        <option value=0 selected>Lv.0: Never / 未訪問</option>
                        <option value=1>Lv.1: Passed / 通過した</option>
                        <option value=2>Lv.2: Alighted / 降りた</option>
                        <option value=3>Lv.3: Visited / 歩いた</option>
                        <option value=4>Lv.4: Stayed / 泊まった</option>
                        <option value=5>Lv.5: ALot / 何度も訪れた</option>
                        <option value=6>Lv.6: Lived / 住んだ</option>
                    </select>
                </li>
                <li class="grid-item four-two" :class="{
                    'skyblue-bg': suwaValue === '1',
                    'yellowgreen-bg': suwaValue === '2',
                    'orange-bg': suwaValue === '3',
                    'violet-bg': suwaValue === '4',
                    'teal-bg': suwaValue === '5',
                    'orangered-bg': suwaValue === '6'}" area-label="諏訪">
                    諏訪(霧ヶ峰・八ヶ岳)<select v-model="suwaValue">
                        <option value=0 selected>Lv.0: Never / 未訪問</option>
                        <option value=1>Lv.1: Passed / 通過した</option>
                        <option value=2>Lv.2: Alighted / 降りた</option>
                        <option value=3>Lv.3: Visited / 歩いた</option>
                        <option value=4>Lv.4: Stayed / 泊まった</option>
                        <option value=5>Lv.5: ALot / 何度も訪れた</option>
                        <option value=6>Lv.6: Lived / 住んだ</option>
                    </select>
                </li>
                <li class="grid-item five-one" :class="{
                    'skyblue-bg': kisoValue === '1',
                    'yellowgreen-bg': kisoValue === '2',
                    'orange-bg': kisoValue === '3',
                    'violet-bg': kisoValue === '4',
                    'teal-bg': kisoValue === '5',
                    'orangered-bg': kisoValue === '6'}" area-label="木曽">
                    木曽(奈良井・妻籠)<select v-model="kisoValue">
                        <option value=0 selected>Lv.0: Never / 未訪問</option>
                        <option value=1>Lv.1: Passed / 通過した</option>
                        <option value=2>Lv.2: Alighted / 降りた</option>
                        <option value=3>Lv.3: Visited / 歩いた</option>
                        <option value=4>Lv.4: Stayed / 泊まった</option>
                        <option value=5>Lv.5: ALot / 何度も訪れた</option>
                        <option value=6>Lv.6: Lived / 住んだ</option>
                    </select>
                </li>
                <li class="grid-item five-two" :class="{
                    'skyblue-bg': kamiinaValue === '1',
                    'yellowgreen-bg': kamiinaValue === '2',
                    'orange-bg': kamiinaValue === '3',
                    'violet-bg': kamiinaValue === '4',
                    'teal-bg': kamiinaValue === '5',
                    'orangered-bg': kamiinaValue === '6'}" area-label="上伊那">
                    上伊那(伊那・木曽駒)<select v-model="kamiinaValue">
                        <option value=0 selected>Lv.0: Never / 未訪問</option>
                        <option value=1>Lv.1: Passed / 通過した</option>
                        <option value=2>Lv.2: Alighted / 降りた</option>
                        <option value=3>Lv.3: Visited / 歩いた</option>
                        <option value=4>Lv.4: Stayed / 泊まった</option>
                        <option value=5>Lv.5: ALot / 何度も訪れた</option>
                        <option value=6>Lv.6: Lived / 住んだ</option>
                    </select>
                </li>
                <li class="grid-item six-one" :class="{
                    'skyblue-bg': shimoinaValue === '1',
                    'yellowgreen-bg': shimoinaValue === '2',
                    'orange-bg': shimoinaValue === '3',
                    'violet-bg': shimoinaValue === '4',
                    'teal-bg': shimoinaValue === '5',
                    'orangered-bg': shimoinaValue === '6'}" area-label="下伊那">
                    下伊那(飯田・天竜峡)<select v-model="shimoinaValue">
                        <option value=0 selected>Lv.0: Never / 未訪問</option>
                        <option value=1>Lv.1: Passed / 通過した</option>
                        <option value=2>Lv.2: Alighted / 降りた</option>
                        <option value=3>Lv.3: Visited / 歩いた</option>
                        <option value=4>Lv.4: Stayed / 泊まった</option>
                        <option value=5>Lv.5: ALot / 何度も訪れた</option>
                        <option value=6>Lv.6: Lived / 住んだ</option>
                    </select>
                </li>
                <!--
                <p>Lv.0: Never / 未訪問</p>
                <p>Lv.1: Passed / 通過した</p>
                <p>Lv.2: Alighted / 降りた</p>
                <p>Lv.3: Visited / 歩いた</p>
                <p>Lv.4: Stayed / 泊まった</p>
                <p>Lv.6: Lived / 住んだ</p>
                -->
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                kitaAzumiValue: '0',
                hokushinValue: '0',
                naganoValue: '0',
                uedaValue: '0',
                matsumotoValue: '0',
                sakuValue: '0',
                kamikouchiValue: '0',
                kisoValue: '0',
                suwaValue: '0',
                kamiinaValue: '0',
                shimoinaValue: '0',
                shinshuSeikenPoint: 0
            },
            methods: {
                calculateShinshuSeikenPoint() {
                    this.shinshuSeikenPoint = parseInt(this.kitaAzumiValue)
                        + parseInt(this.hokushinValue)
                        + parseInt(this.naganoValue)
                        + parseInt(this.uedaValue)
                        + parseInt(this.matsumotoValue)
                        + parseInt(this.sakuValue)
                        + parseInt(this.kamikouchiValue)
                        + parseInt(this.suwaValue)
                        + parseInt(this.kisoValue)
                        + parseInt(this.kamiinaValue)
                        + parseInt(this.shimoinaValue)
                },
                resetPullDown() {
                    this.kitaAzumiValue = 0
                    this.hokushinValue = 0
                    this.naganoValue = 0
                    this.uedaValue = 0
                    this.matsumotoValue = 0
                    this.sakuValue = 0
                    this.kamikouchiValue = 0
                    this.suwaValue = 0
                    this.kisoValue = 0
                    this.kamiinaValue = 0
                    this.shimoinaValue = 0
                    this.calculateShinshuSeikenPoint()
                }
            },
            watch: {
                kitaAzumiValue: function () {
                    this.calculateShinshuSeikenPoint()
                },
                hokushinValue: function () {
                    this.calculateShinshuSeikenPoint()
                },
                naganoValue: function () {
                    this.calculateShinshuSeikenPoint()
                },
                uedaValue: function () {
                    this.calculateShinshuSeikenPoint()
                },
                matsumotoValue: function () {
                    this.calculateShinshuSeikenPoint()
                },
                sakuValue: function () {
                    this.calculateShinshuSeikenPoint()
                },
                kamikouchiValue: function () {
                    this.calculateShinshuSeikenPoint()
                },
                suwaValue: function () {
                    this.calculateShinshuSeikenPoint()
                },
                kisoValue: function () {
                    this.calculateShinshuSeikenPoint()
                },
                kamiinaValue: function () {
                    this.calculateShinshuSeikenPoint()
                },
                shimoinaValue: function () {
                    this.calculateShinshuSeikenPoint()
                }
            },
            created() {
                this.calculateShinshuSeikenPoint()
            }

        })
    </script>
</body>

</html>